{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/flux.css' %}">
{% endblock %}
{% block content %}

    <h1 class="flux-title">Actualités</h1>
   <div class="flux-container">
    {% for article in articles %}
        <a class="flux-article" href="{% url 'article' article.id %}">
            <div class="flux-article-image">
                <img src="{{ article.image.url }}" alt="Image de l'article">
            </div>
            <div class="flux-article-content">
                <p class="flux-article-meta">
                    <i class="icon">📝</i> Publié le {{ article.publication_date }}
                </p>
                <h2 class="flux-article-title">
                 {{ article.title }}
                </h2>
                <p>{{ article.content|truncatechars:250 }}</p>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}